:root {
  --main-white: #f0f0f0;
  --main-gray: #303841;
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
}

* {
  margin: 0;
  padding: 0;
  max-width:100%;
  color:#f4f4f4;
}

body {
  margin:0;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  background-color: #26272b;
  color: #f4f4f4;
}

h1 {
  text-align: center;
  margin: 1rem;
}

/* NAVBAR */

.navbar {
  box-sizing: border-box;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.121);
}

.navbar-brand {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}


/* NAVBAR */



.heading {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 1rem 3rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .1rem;
  font-weight: 700;
  width: 1000px;
}



@media screen and (max-width: 720px) {
  .hide-mobile {
    display:none;
  }
}

